@if(flashMessages.has('notification'))
  <div class="mb-4 bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
    <p>
      {{ flashMessages.get('notification') }}
    </p>
  </div>
@endif
@if(flashMessages.has('error'))
  <div class="mb-4 bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
    <p>
      {{ flashMessages.get('error') }}
    </p>
  </div>
@endif
